{% extends 'base.html.twig' %}

{# Search Blog Style Pages #}

{% block title -%}
    Search Blog Style Pages
{%- endblock %}

{% block classes -%}
    search blog-page
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Search Blog Style Pages</h1>
{% endblock %}

{% block body %}
    <!-- listing-count -->
    <h2>LISTING COUNT</h2>
    {% if pages|length > 0 %}
        <div class="listing-count">
            <p>Displaying <strong>{{ pages|length }}</strong> pages of <strong>{{ pages.getTotalItemCount }}</strong>
                total.</p>
        </div>
    {% elseif  q %}
        <div class="listing-count">
            <p>Your search for <strong>{{ q }}</strong> returned zero results.</p>
        </div>
    {% endif %}
    <!-- search-form -->
    <div class="search-form-header">
        <h2>SEARCH FORM</h2>
        <form method="get" class="search-form">
            <fieldset>
                <div class='form-group'>
                    <label class="form-label" for='q'>Please Enter your Search Term</label>
                    <div class="form-submit">
                        <div class="input-group">
                            <input type="text" name="q" id="q" class="form-control" value="{{ q }}">
                            <span class="input-group-btn">
								<button class="btn btn-primary" type="submit">
									<span class="glyphicon glyphicon-search"></span>Search
								</button>
							</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    {% if pages|length > 0 %}

        {% for result in pages %}
            {% set page = result[0] %}
            <h2>RESULTS</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">
                        <a href="{{ path('page_show', { 'id': page.id }) }}">
                            {{ page.title }}
                        </a>
                    </h2>
                    {% if is_granted('ROLE_BLOG_ADMIN') %}
                        <div class="panel-title pull-right">{{ page.public }}</div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% set result = page.searchHighlight(q) %}
                    {% if result|length > 0 %}
                        <ul>
                            {% for text in page.searchHighlight(q) %}
                                <li>{{ text|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Cannot highlight the search results.</p>
                        <p>{{ page.excerpt|raw }}</p>
                    {% endif %}
                </div>
                <div class="panel-footer text-right">
                    Posted {{ page.created|date('Y-m-d H:i:s') }} by {{ page.user.fullname }}.
                </div>
            </div>
        {% endfor %}


        <div class="navigation bottom-pager">
            {{ knp_pagination_render(pages) }}
        </div>

    {% endif %}

{% endblock %}
