{% extends 'base.html.twig' %}

{# Edit Blog Style Pages #}

{% block title -%}
    Edit: {{ page.title }}
{%- endblock %}

{% block classes -%}
    edit blog-page
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Edit Page: {{ page.title }}</h1>
{% endblock %}


{% block body %}
    <div class="content">
        <div class="inner">
            <div class="content-full">
                <div class="inner">
                    <div class="form-wrapper">
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form, { 'id': 'edit-form' } ) }}
                        <div class="form-group">
                            <div class="form-submit">
                                <div class="button-group">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                    <a href="{{ path('page_show', { 'id': page.id }) }}" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'NinesEditorBundle:editor:widget.html.twig' %}
{% endblock %}
