{% extends '::base.html.twig' %}

{# Sort Order of Blog Style Pages #}

{% block title -%}
    Sort the Order of Blog Pages
{%- endblock %}

{% block classes -%}
    edit sort blog-page
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Sort the Order of Blog Pages</h1>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="inner">
            <!-- Admin Toolbar -->
            <div class="btn-toolbar">
                <div class="btn-group pull-right">
                    <a href="{{ path('page_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>
                        Back </a>
                </div>
            </div>
            <div class="content-full">
                <div class="inner">
                    <div class="page-sort-description">
                        <p>You can <strong>drag and drop</strong> the page titles below to set the order of pages in
                            menus.</p>
                        <p>Only <strong>public pages</strong> are shown.</p>
                    </div>
                    <div class="page-sort-wrapper">
                        <form action='{{ path('page_sort') }}' method='post' name='order'>
                            <input type='hidden' name='order' id='order' value='' />
                            <ul class="list-group" id="list-order">
                                {% for page in pages %}
                                    <li class='list-group-item' id='{{ page.id }}'>
                                        <h2 class="page-title">{{ page.title }}</h2>
                                        <div id="page-excerpt">
                                            {{ page.excerpt|raw }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="form-group">
                                <div id="form-submit">
                                    <div class="button-group">
                                        <button type='submit' class='btn btn-primary'>Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower/jquery-ui/jquery-ui.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#list-order').sortable({
                containment: 'parent',
                cursor: 'move',
            });
            $('button').click(function () {
                $('#order').val($("#list-order").sortable("toArray"));
            });
        });
    </script>
{% endblock %}

{% block styles %}
    <style>
        li.ui-sortable-handle {
            cursor: grab;
        }
    </style>
{% endblock %}