<div class="clearfix"></div>

{% for clipping in clippings %}
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="{{ path('clipping_show', { 'id': clipping.id }) }}">
                    <img src="{{ asset(clipping_img_prefix ~ clipping.thumbnailPath) }}">
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <a href="{{ path('clipping_show', { 'id': clipping.id }) }}">
                {{ clipping.originalName }}
            </a><br/>
            {% if query is defined %}
                <ul>
                {% for result in text_service.searchHighlight(clipping.transcription, query) %}
                    <li>{{ result|raw }}</li>
                {% endfor %}
                </ul>
            {% else %}
                {{ text_service.trim(clipping.transcription, 60)|raw }}                
            {% endif %}
        </div>
    </div>
{% endfor %}
