<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>{% block title %}Welcome!{% endblock %} | Reconstructing Early Circus</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <link rel="stylesheet" href="{{ asset('yarn/@openfonts/bevan_all/index.css') }}">
        <link rel="stylesheet" href="{{ asset('yarn/@openfonts/domine_latin-ext/index.css') }}">
        <link rel="stylesheet" href="{{ asset('yarn/source-serif-pro/source-serif-pro.css') }}">

        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap-theme.min.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">

        <script src="{{ asset('yarn/jquery/dist/jquery.min.js') }}"></script>
        {% block styles %}
        {% endblock %}
    </head>
    <body class="{% block classes %}base{% endblock %}">
        <div id="page-wrapper">
            <div id="header-wrapper">
                <div class="header">
                    <div class="search-wrapper">
                        <nav class="navbar-search"><!--SEARCH -->
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="{{ path('clipping_search') }}"><span class="glyphicon glyphicon-search"></span>
                                        Search</a></li>
                            </ul>
                        </nav><!--END SEARCH -->
                    </div>
                    <div class="branding">
                        <h1 class="site-title">Reconstructing Early Circus</h1>
                    </div>
                    <div class="nav-wrapper">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <!--HAMBURGER -->
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <!--REGULAR -->
                                {{ knp_menu_render('main') }}
                                {{ knp_menu_render('pages') }}
                            </div>
                        </nav><!--END NAV -->
                    </div>
                </div>
            </div><!--END header-wrapper -->
            <div id="page">
                <div id="page-header-wrapper">
                    {% if block('pageheader') is defined %}
                        <div class="page-header highlight">
                            {{ block('pageheader') }}
                        </div>
                    {% endif %}

                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert-wrapper">
                                <div class="alert alert-{{ type }}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div><!--END page-header-wrapper -->
                <div id="main">
                    {% block body %}
                    {% endblock %}
                </div><!--END main -->
            </div><!--END page -->
            <div id="footer-wrapper">
                <footer class="footer">
                    <div class="footer-col-left">
                        <h2 class="site-title">Reconstructing Early Circus</h2>
                        <nav class="nav-footer"><!--NAV FOOTER -->
                            <ul class="menu">
                                <li class="menu-item">{{ knp_menu_render('main') }}</li>
                                <li class="menu-item">{{ knp_menu_render('pages') }}</li>
                                <li class="menu-item"><a href="{{ path('privacy') }}">Privacy</a></li>
                                <li class="menu-item"><a href="{{ asset('docs/sphinx/index.html') }}">Documentation</a>
                                </li>
                                <li class="menu-item"><a href="https://github.com/sfu-dhil/circus">GitHub</a></li>
                                <li class="menu-item last"><a href="{{ path('user') }}">Login</a></li>
                            </ul>
                        </nav><!--END NAV FOOTER -->
                    </div>
                    <div class="footer-col-right">
                        <nav class="nav-footer">
                            <ul class="menu external-links">
                                <li class="menu-item dhil">
                                    <a href="https://www.lib.sfu.ca/help/publish/dh/dhil" target="_blank"><img src="{{ asset('images/dhil-home-page-logo.jpg') }}" /></a>
                                </li>
                                <li class="menu-item" sfu>
                                    <a href="https://www.sfu.ca/" target="_blank"><img src="{{ asset('images/SFU_block_colour_rgb.png') }}" /></a>
                                </li>
                            </ul>
                        </nav><!--END NAV FOOTER -->
                    </div>
                </footer>
            </div><!--END footer-wrapper -->
        </div><!--END page-wrapper -->
        <!-- Scripts -->
        <script src="{{ asset('yarn/bootstrap3/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/form.js') }}"></script>
        <script src="{{ asset('yarn/jquery-colorbox/jquery.colorbox.js') }}"></script>
        <script>
            jQuery('a.detail-image').colorbox(
                //{maxWidth:'90%', maxHeight:'95%'}
                {maxWidth: '90%'},
            );
        </script>
        {% block javascripts %}
        {% endblock %}

        {% if piwik_enabled %}
            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                _paq.push(["setDomains", ["{{ piwik_domain }}"]]);
                _paq.push(["setDoNotTrack", true]);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function () {
                    var u = "{{ piwik_url }}";
                    _paq.push(['setTrackerUrl', u + 'piwik.php']);
                    _paq.push(['setSiteId', '{{ piwik_siteid }}']);
                    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                    g.type = 'text/javascript';
                    g.async = true;
                    g.defer = true;
                    g.src = u + 'piwik.js';
                    s.parentNode.insertBefore(g, s);
                })();
            </script>
            <noscript>
                <p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_siteid }}" style="border:0;" alt="" /></p>
            </noscript>
            <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
