{% extends 'base.html.twig' %}

{# Category Listing Page #}

{% set breadpath =
{ 0:
{
'title': 'Categories'
}
}
%}

{% block title -%}
    Categories
{%- endblock %}

{% block pageheader %}
    <h1>Categories</h1>
{% endblock %}


{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('category_new') }}" class="btn btn-secondary">
            <span class="bi bi-plus-lg"></span> New </a>
    {% endif %}
{% endblock %}

{% block body %}
    <article>

        <ul class="cat-gallery">
            {% for category in categories %}
            <li class="cat{{ category.id }}">
                    <a href="{{ path('category_show', {'id': category.id}) }}">
                        <div class="content">
                            <h2>{{ category.label }}</h2>
                            <div class="desc">{{ category.description|raw }}</div>
                        </div>
                    </a>

                </li>
            {% endfor %}
            {% if (categories|length) % 2 == 1 %}
            <li class="cat-empty"/>
            {% endif %}
        </ul>
    </article>
<!--<div class="navigation">
    {{ knp_pagination_render(categories) }}
</div>
-->

{% endblock %}
