{% extends 'base.html.twig' %}

{% block id %}index{% endblock %}

{% block classes %}index{% endblock %}

{% block hero %}
<div class="hero">
    <div class="title">
        <h1 class="sr-only">Reconstructing Early Circus</h1>
        <img src=" {{ asset('images/logo.svg') }}"></img>
    </div>
    <div class="subtitle">
        <h2>Entertainments at Astley’s Amphitheatre, 1768-1833</h2>
    </div>
</div>
{% endblock %}

{% block body %}
    <article>
        <section>
    {% if homepage %}
        {{ homepage.content|raw }}
    {% else %}
            <p>The genre we know today as “circus” can be traced back to the equestrian performances of Phillip
                Astley and his wife, Patty, at Ha’penny Hatch, Lambeth in the late 1760’s. While the first
                spectacles at what would become known as Astley’s Amphitheatre and Riding School consisted
                largely of feats of horsemanship, the nightly entertainments soon came to incorporate acts such
                as acrobatics, musical automatons, a “learned horse,” trained bees swarming around their
                “trainer” in the shape of a wig, pantomimes, fireworks, hot air balloons, comic songs and
                re-enactments of occasions like the storming of the Bastille. In short, the performances at
                Astley’s offered a public space which re-presented the latest novelties as well as current
                events, re-mixing them along with a variety of astonishing physical entertainments. Given its
                huge popularity, it was small wonder that Astley’s inspired rival circus sites within London and
                the rest of the British Isles as well as in Europe and North America.</p>
            <p>This website provides a searchable database of newspaper advertisements listing the featured acts
                at Astley’s from 1768-1833. It takes us back to an era before the circus became synonymous with
                wild animals and ring-leaders in order to help us learn more about this neglected popular
                entertainment, early circus, and about the age in which it flourished.</p>
        {% endif %}
        </section>

        <section class="nav-blocks">
            <div class="img-block">
                <a href="{{ path('clipping_index') }}">
                    <h2>Explore the Archive</h2>
                </a>

            </div>
            <div class="img-block">
                <a href="{{ path('nines_blog_page_show', { 'id': 1 }) }}">
                    <h2>About the Project</h2>
                </a>

            </div>
            <div class="img-block">
                <a href="{{ path('clipping_search') }}">
                    <h2>Search the Archive</h2>
                </a>
            </div>
        </section>
    </article>

{% endblock %}
