{% extends 'base.html.twig' %}

{# Clipping Edit Page #}

{% block title -%}
    Clipping Edit
{%- endblock %}

{% block classes -%}
    edit clipping-page
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Edit Clipping: {{ clipping.originalName }}</h1>
{% endblock %} 


{% block body %}
    <div class="content">
        <div class="inner">
            <div class="content-full">
                <div class="inner">
                    {{ form_start(edit_form) }}
                    <div id="transcript" class="edit-transcription">
                        {{ form_row(edit_form.transcription) }}
                    </div>
                    <div id="annotations" class="edit-annotations">
                        {{ form_row(edit_form.annotations) }}
                    </div>
                    <div class="current-image-wrapper">
                        <h2 class="current-image-title">Current Image: {{ clipping.originalName }}</h2>
                        <figure class="caption">
                            <img src="{{ asset(clipping_img_prefix ~ clipping.imageFilePath) }}">
                        </figure>
                    </div>
                    <div id="newImage" class="new-image-upload">
                        {{ form_row(edit_form.newImageFile) }}
                    </div>
                    <div id="metadata" class="metadata">
                        {{ form_rest(edit_form) }}
                    </div>
                    <!-- form submit -->
                    <div class="form-group">
                        <div class="form-submit">
                            <div class="button-group">
                                <input type="submit" value="Update Clipping" class="btn btn-primary" />
                                <a href="{{ path('clipping_show', { 'id': clipping.id }) }}" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div><!-- end content-left -->
        </div>
    </div><!-- end content -->

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
