{% extends 'base.html.twig' %}

{# Search and Search Listing Page #}

{% set breadpath =
    { 0:
        {
            'title': 'Search'
        }
    } %}

{% block title %}
    Search
{%- endblock %}


{% block pageheader %}
    <h1 class="page-title">Search</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.transcription) }}
    <div id="controls">
        {{ form_rest(form) }}
        {# empty div for flex #}
        <div class="form-row"></div>
    </div>
    <div class="form-group advanced-search">
        <div>
            <input type="submit" value="Search" class="btn btn-primary" />
            <div class="pull-right">
                <a class="btn btn-default" href="{{ path('clipping_search') }}">Reset</a>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <article{% if submitted %} class="submitted"{% endif %}>
        {% if submitted %}
        <p>Displaying {{ clippings|length }} clippings of {{ clippings.getTotalItemCount }} total.</p>
        {% endif %}
        {% include 'clipping/partial/gallery.html.twig' with {'query':q}%}
    </article>

    {% include 'misc/search-footer.html.twig' %}

    {% block javascripts %}

    <script src="{{ asset('js/search.js') }}"></script>

    {% endblock %}

{% endblock %}
