{% extends 'base.html.twig' %}

{# Clipping Search and Search ListingPage #}

{% set breadpath =
    { 0:
        {
            'title': 'Search'
        }
    } %}

{% block title %}
    Search
{%- endblock %}


{% block pageheader %}
    <h1 class="page-title">Clippings Search</h1>
    {% if submitted %}
    Displaying {{ clippings|length }} clippings of {{ clippings.getTotalItemCount }} total.
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.transcription) }}
    <div id="controls" class="collapse">
        {{ form_rest(form) }}
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-primary" id="advanced_search" role="button" data-toggle="collapse" href="#controls" aria-expanded="false" aria-controls="collapseExample">Advanced Search</a>
            <a class="btn btn-default" href="{{ path('clipping_search') }}">Reset</a>
        </div>
    </div>
    {{ form_end(form) }}

    <article>
        {% include 'clipping/partial/gallery.html.twig' with {'q': ''}%}
    </article>

    {% include 'misc/search-footer.html.twig' %}

{% endblock %}
