{% extends 'base.html.twig' %}

{% block title %}
    Clipping Detail: {{ clipping.originalName }}
{% endblock %}

{% block classes %}
    basic-page clipping-detail
{% endblock %}

{% block pageheader %}
    <h1 class="page-title">Clipping Detail: {{ clipping.originalName }}</h1>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="inner">
            <!-- Admin Toolbar -->
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="{{ path('clipping_index') }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back to Listing </a>
                    {% if is_granted('ROLE_CONTENT_ADMIN') %}
                        <a href="{{ path('clipping_edit', { 'id': clipping.id }) }}" class="btn btn-default">
                            <span class='glyphicon glyphicon-edit'></span> Edit Item </a>
                        <a href="{{ path('clipping_delete', { 'id': clipping.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Clipping?">
                            <span class='glyphicon glyphicon-remove'></span> Delete Item </a>
                    {% endif %}
                </div>
            </div>
            <div class="content-left">
                <div class="inner">
                    <h2 class="detail-image-title">{{ clipping.originalName }}</h2>
                    <div class="image-wrapper">
                        <figure class="caption">
                            <a class="detail-image" href="{{ asset(clipping.imageFilePath) }}">
                                <img src="{{ asset(clipping_img_prefix ~ clipping.imageFilePath) }}" alt="{{ clipping.originalName }}" title="{{ clipping.originalName }}">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="inner">
                    <h2 class="detail-transcription-title">Transcription</h2>
                    <div class="detail-transcription">
                        {{ clipping.transcription|raw }}
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <div class="inner">
                    <h2 class="detail-metadata-title">Metadata</h2>
                    <div class="detail-metadata">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="col-01">Image Number:</th>
                                    <td class="col-02">{{ clipping.originalName }}</td>
                                </tr>
                                {% if is_granted('ROLE_USER') %}
                                    <tr>
                                        <th>Number:</th>
                                        <td>{{ clipping.number }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Written Date:</th>
                                    <td>{{ clipping.writtenDate }}</td>
                                </tr>
                                <tr>
                                    <th>Date:</th>
                                    <td>{{ clipping.date }}</td>
                                </tr>
                                <tr>
                                    <th>Created:</th>
                                    <td>{% if clipping.created %}{{ clipping.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Updated:</th>
                                    <td>{% if clipping.updated %}{{ clipping.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Category:</th>
                                    <td>
                                        <a href="{{ path('category_show', { 'id': clipping.category.id}) }}">
                                            {{ clipping.category }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Source:</th>
                                    <td>
                                        <a href="{{ path('source_show', { 'id': clipping.source.id}) }}">
                                            {{ clipping.source }}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
