{% extends 'base.html.twig' %}


{% set title = clipping.number ~ " (Vol. " ~ clipping.source.id  ~ ")" %}
{% set needsTooltip = clipping.number matches '/\\*/' %}

{% block title %}{{ title }}{% endblock %}


{% set fromCat = app.request.server.get('HTTP_REFERER') matches '/\\/category\\//' %}

{% set breadpath =
    { 0:
        { 'path': path('source_index'),
           'title': 'Sources'
         },
      1: {
            'path': path('source_show', {'id' : clipping.source.id }),
            'title': clipping.source
         },
      2: {
            'title': title
        }
    }
%}

{% if fromCat %}

    {% set breadpath =

        { 0:
            { 'path': path('category_index'),
              'title': 'Categories'
            },
          1: {
               'path': path('category_show', {'id': clipping.category.id}),
               'title': clipping.category
             },
          2: {
                'title': title
             }
        }
    %}

{% endif %}

{% block pageheader %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
            <a href="{{ path('clipping_edit', { 'id': clipping.id }) }}"
                class="btn btn-secondary">
                <span class='bi bi-pencil-square'></span> Edit Item
            </a>
            <a href="{{ path('clipping_delete', { 'id': clipping.id }) }}" class="btn btn-secondary"
                data-confirm="Are you sure you want to delete this Clipping?">
                <span class='bi bi-trash'></span> Delete Item
            </a>
    {% endif %}
{% endblock %}

{% block body %}
    <article class="clipping">
        {% if clipping.transcription is not empty  %}
            <section class="transcription">
                <h3 class="visually-hidden">Transcription</h3>
                <div class="transcription-content">
                    {{ clipping.transcription|raw }}
                </div>
            </section>
        {% endif %}

        <section class="metadata{% if clipping.transcription is empty %} no-transcription{% endif %}">
            <div class="metadata-content">
                <a class="zoomable imgContainer" href="{{ asset(clipping_img_prefix ~ clipping.imageFilePath) }}" target="_blank" rel="noopener noreferrer">
                    <img
                        src="{{ asset(clipping_img_prefix ~ clipping.thumbnailPath) }}"
                        alt="{{ clipping.originalName }}" title="{{ clipping.originalName }}"/>
                </a>
                <div class="metadata-body">
                   <div>
                       <h4>Item Number</h4>
                       <div>
                           {% if needsTooltip %}
                           <span data-toggle="tooltip" data-placement="right" title="Number not provided in the original">{{ clipping.number }}</span>
                           {% else %}
                                {{ clipping.number }}
                           {% endif %}
                           </div>
                   </div>
                    <div>
                        <h4>Written Date</h4>


                        {% if clipping.writtenDate matches '([nN]\.?[dD]|No [dD]ate\.?)' %}
                            <div class="unset">Not dated</div>
                        {% else %}
                            <div>{{ clipping.writtenDate }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <h4>Date</h4>
                        {% if clipping.date is null %}
                            <div class="unset">Not dated</div>
                        {% else %}
                        <div>
                            {% set dateStr = clipping.date | date('F d, Y') %}
                            {{ dateStr | replace({', 0000': ', [?]', '00,': ''}) }}
                        </div>
                        {% endif %}
                    </div>

                    <div>
                        <h4>Category</h4>
                        <div>
                            <a href="{{ path('category_show', { 'id': clipping.category.id}) }}">
                                {{ clipping.category }}
                            </a>
                        </div>
                    </div>
                    <div>
                        <h4>Source</h4>
                        <div>
                            <a href="{{ path('source_show', { 'id': clipping.source.id}) }}">
                                {{ clipping.source }}
                            </a>
                        </div>
                    </div>
                    <div>
                        <h4>Download Image</h4>
                        <div><a href="{{ asset(clipping_img_prefix ~ clipping.imageFilePath) }}" target="_blank">{{ clipping.originalName }}</a><span class="image-size">({{ (clipping.imageSize / (1024 * 1024))|round(2) }}MB)</span></div>
                    </div>
                    {% if is_granted('ROLE_CONTENT_ADMIN') %}

                    <div>
                        <h4>Created</h4>
                        <div>{% if clipping.created %}{{ clipping.created|date('Y-m-d H:i:s') }}{% endif %}</div>
                    </div>
                    <div>
                        <h4>Updated</h4>
                        <div>{% if clipping.updated %}{{ clipping.updated|date('Y-m-d H:i:s') }}{% endif %}</div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </section>
    </article>
    <div id="facsViewerContainer">
        <span id="facs_closer" class="facsCloser">&times;</span>

        <div id="facs_loader">
            <div class="loader">Loading</div>
        </div>
        <canvas id="viewer"/>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/imagezoom.js') }}"></script>
{% if needsTooltip %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endif %}
{% endblock %}
