{% extends 'base.html.twig' %}

{# Sources Listing Page #}

{% block title -%}
    Sources
{%- endblock %}


{% set breadpath =
{ 0:
    {
    'title': 'Sources'
    }
}
%}

{% block pageheader %}
    <h1>Sources</h1>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('source_new') }}" class="btn btn-secondary">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}


{% block body %}
<article>
    <ul class="cat-gallery">
        {% for source in sources %}
        <li class="source{{source.id}}">
            <a href="{{ path('source_show', {'id': source.id}) }}">
                <div class="content">
                    <h2>{{ source.label }}</h2>
                    <div class="desc">{{ source.description|raw }}</div>
                </div>
            </a>

        </li>
        {% endfor %}
        {% if (sources|length) % 2 == 1 %}
        <li class="cat-empty"/>
        {% endif %}
    </ul>
</article>
{% endblock %}
