{% extends 'base.html.twig' %}

{# Sources Listing Page #}

{% block title -%}
    Available Sources
{%- endblock %}

{% block classes -%}
    basic-page source-list
{%- endblock %}


{% block styles %}

{% for source in sources %}
{% set count = source.clippings | length %}
{% set random = random(count - 1) %}

#cat-{{ source.id}}{
    background-image: url('{{ asset(clipping_img_prefix ~ source.clippings[random].thumbnailPath) }}');
}  

{% endfor %}
{% endblock %}

{% block pageheader %}
    <h1 class="page-title">Available Sources</h1>
{% endblock %} 

{% block admin %}
<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('source_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block body %}
<article>
    <ul class="cat-gallery">
        {% for source in sources %}
        <li id="cat-{{ source.id }}">
            <a href="{{ path('source_show', {'id': source.id}) }}">
                <div class="content">
                    <h3>{{ source.label }}</h3>
                    <div class="desc">{{ source.description|raw }}</div>
                </div>
            </a>
            
        </li>
        {% endfor %}
        {% if (sources|length) % 2 == 1 %}
        <li class="cat-empty"/>
        {% endif %}
    </ul>
</article>
{% endblock %}
