{% extends 'base.html.twig' %}

{# Source Detail Page #}

{% set breadpath =
{ 0:
{ 'path': path('source_index'),
'title': 'Sources'
},
1: {
'title': source.label
}
}
%}

{% block title %}
    {{ source.label }}
{% endblock %}

{% block classes -%}
    basic-page Source-detail
{%- endblock %}

{% block pageheader %}
    <h1>{{ source.label }}</h1>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('source_index') }}" class="btn btn-secondary">
            <span class="bi bi-arrow-left"></span> Back
        </a>
        <a href="{{ path('source_edit', { 'id': source.id }) }}" class="btn btn-secondary">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('source_delete', { 'id': source.id }) }}" class="btn btn-secondary" data-confirm="Are you sure you want to delete this Source?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
{% if is_granted('ROLE_CONTENT_ADMIN') %}
<aside class="category-detail-wrapper">
    <table class="table table-striped table-bordered table-hover table-sm" title="Details for {{ source.label|e }}">
        <tbody>
            <tr>
                <th>Label</th>
                <td>{{ source.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ source.description|default('')|raw }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ source.date }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ source.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ source.updated|date }}</td>
            </tr>
        </tbody>
    </table>
</aside>
{% endif %}
<article>
    {% if clippings|length > 0 %}
        {% include 'clipping/partial/gallery.html.twig' %}
    {% endif %}
</article>

<div class="navigation bottom-pager">
    {{ knp_pagination_render(clippings) }}
</div>


{% endblock %}
