<!DOCTYPE html>
<html lang="en" id="{% block id %}index{% endblock %}">
{% set isNines = app.request.pathInfo matches '/blog/' -%}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google" content="notranslate" />
    <title>{% block title %}Welcome!{% endblock %} | Reconstructing Early Circus</title>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-32.png') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-128.png') }}" sizes="128x128"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-152.png') }}" sizes="152x152"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-167.png') }}" sizes="167x167"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-180.png') }}" sizes="180x180"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-192.png') }}" sizes="192x192"/>
    <link rel="icon" href="{{ asset_prefix|default('') ~ asset('images/favicon/favicon-196.png') }}" sizes="196x196"/>

    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css') }}" />

    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('css/circus.css') }}"/>

    <script src="{{ asset_prefix|default('') ~ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset_prefix|default('') ~ asset('js/form.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('js/circus.js') }}"></script>
    <style>
            {% block styles %} {% endblock %}
    </style>
</head>
<body class="{% block classes %}base{% endblock %}{% if isNines %} nines {% endif %}">
    <header>
        <div class="horses"></div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img alt="Reconstructing Early Circus" src="{{ asset ('images/logo.svg') }}"/>
                </a>
                <button class="navbar-toggler hamburger hamburger--spin" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse container-lg" id="navbarNav">
                    {{ knp_menu_render('main', { 'allow_safe_labels': true }) }}
                    {{ knp_menu_render('nines_blog_pages', { 'allow_safe_labels': true }) }}
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('clipping_search') }}">Search</a>
                        </li>
                    </ul>
                    {{ knp_menu_render('nines_user_nav', { 'allow_safe_labels': true }) }}
                </div>
            </div>
        </nav>
        <a id="header_overlay" class="facsCloser"></a>
    </header>

    {# Special styles for index hero #}

    {% block hero %} {% endblock %}

    <main class="container">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row mb-3 align-items-center">
            <div class="col-lg">
                <nav role="navigation" aria-label="Breadcrumb" class="my-3">
                    <ol class="breadcrumb m-0" aria-label="List of Navigation Breadcrumbs">
                        {% block breadcrumb %}
                            {# Check if we're in a nines page #}
                            {% if breadpath is not defined and isNines %}
                                {% if page.title is defined %}
                                {% set breadpath =
                                    {
                                        0: {
                                            'title': page.title
                                        }
                                    }
                                %}
                                {% endif %}
                            {% endif %}
                            {# Now include the breadcrumb bit #}
                            {% include 'misc/breadcrumb.html.twig' %}
                        {% endblock %}
                    </ol>
                </nav>
            </div>
            <div class="col-lg-auto">
                <div class="m-2 btn-group" role="navigation" aria-label="Page Action buttons">
                    {% block action_buttons %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block pageheader %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-menu">
                {{ knp_menu_render('footer') }}
            </div>
            <div class="footer-imgs">
                <ul>
                    <li>
                        <a href="https://www.lib.sfu.ca/help/publish/dh/dhil" target="_blank">
                            <img src="{{ asset('images/dhil-home-page-logo.jpg') }}" />
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="https://www.sfu.ca/" target="_blank">
                            <img src="{{ asset('images/SFU_block_colour_rgb.png') }}" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
