<!DOCTYPE html>

{% if is_granted('ROLE_CONTENT_ADMIN') %}
    {% set user = 'admin' %}
{% else %}
    {% set user = 'user' %}
{% endif %}

<html lang="en" id="{% block id %}index{% endblock %}" 
    class="{{ user }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="google" content="notranslate" />
        <title>{% block title %}Welcome!{% endblock %} | Reconstructing Early Circus</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <link rel="stylesheet" href="{{ asset('yarn/@openfonts/bevan_all/index.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yarn/@openfonts/domine_latin-ext/index.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yarn/source-serif-pro/source-serif-pro.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/circus.css') }}"/>
        <script src="{{ asset('yarn/jquery/dist/jquery.min.js') }}"></script>
            
        {% block styles %}
        {% endblock %}
    </head>
    <body class="{% block classes %}base{% endblock %}">
        <header>
            <div class="horses"></div>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <!--HAMBURGER -->
                        <button type="button"
                            class="navbar-toggle collapsed" 
                            data-toggle="collapse" data-target="#navbar" 
                            aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span>
                            <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <!--REGULAR -->
                        {{ knp_menu_render('main') }}
                        {{ knp_menu_render('nines_blog_pages') }}
                        {{ knp_menu_render('nines_user_nav') }}
                        <ul class="nav navbar-nav pull-right">
                            <li class="menu-item">
                                <a href="{{ path('clipping_search') }}">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Search</a>
                            </li>
                        </ul>
                    </div> 
                </div>
                
            </nav>
            <a id="header_overlay" class="facsCloser"></a>
        </header>
        <main class="container">
            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            <div class="alert-wrapper">
                <div class="alert alert-{{ type }}">
                    <button type="button" class="close"
                        data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            
            
            {% block admin %}
            
            {% endblock %}
            
            {% block pageheader %}
            
            {% endblock %}
            
            {% block body %}
                
            {% endblock %}
            
        </main>
 
        <footer class="footer">
            <div class="container">
                <!--<div id="footer-menu">
                    <ul>
                        <li class="menu-item">{{ knp_menu_render('main') }}</li>
                        <li class="menu-item">{{ knp_menu_render('nines_blog_pages') }}</li>
                        <li class="menu-item"><a href="{{ path('privacy') }}">Privacy</a></li>
                        <li class="menu-item"><a href="{{ asset('docs/sphinx/index.html') }}">Documentation</a></li>
                        <li class="menu-item"><a href="https://github.com/sfu-dhil/circus">GitHub</a></li>
                        <li class="menu-item last">{{ knp_menu_render('nines_user_nav') }}</li>
                    </ul>
                </div>
                <div id="footer-imgs">
                    <ul>
                        <li>
                            <a href="https://www.lib.sfu.ca/help/publish/dh/dhil" target="_blank">
                                <img src="{{ asset('images/dhil-home-page-logo.jpg') }}" />
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.sfu.ca/" target="_blank">
                                <img src="{{ asset('images/SFU_block_colour_rgb.png') }}" />
                            </a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </footer>
        
        
        
        <!--Messages, but not sure what these are-->
        
     
        
        
        <!-- Scripts -->
        <script src="{{ asset('yarn/bootstrap3/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/form.js') }}"></script>
        <script src="{{ asset('yarn/jquery-colorbox/jquery.colorbox.js') }}"></script>
        <script src="{{ asset('js/circus.js') }}"></script>
        <script>
            jQuery('a.detail-image').colorbox(
                //{maxWidth:'90%', maxHeight:'95%'}
                {maxWidth: '90%'},
            );
        </script>
        
        {% block javascripts %}
        {% endblock %}

        {% if piwik_enabled %}
            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                _paq.push(["setDomains", ["{{ piwik_domain }}"]]);
                _paq.push(["setDoNotTrack", true]);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function () {
                    var u = "{{ piwik_url }}";
                    _paq.push(['setTrackerUrl', u + 'piwik.php']);
                    _paq.push(['setSiteId', '{{ piwik_siteid }}']);
                    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                    g.type = 'text/javascript';
                    g.async = true;
                    g.defer = true;
                    g.src = u + 'piwik.js';
                    s.parentNode.insertBefore(g, s);
                })();
            </script>
            <noscript>
                <p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_siteid }}" style="border:0;" alt="" /></p>
            </noscript>
            <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
