<!DOCTYPE html>


{% set isNines = app.request.pathInfo matches '/blog/' %}

<html lang="en" id="{% block id %}index{% endblock %}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="google" content="notranslate" />
        <title>{% block title %}Welcome!{% endblock %} | Reconstructing Early Circus</title>
        <link rel="icon" href="{{ asset('images/favicon/favicon-32.png') }}" type="image/x-icon"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-32.png') }}" sizes="32x32"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-128.png') }}" sizes="128x128"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-152.png') }}" sizes="152x152"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-167.png') }}" sizes="167x167"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-180.png') }}" sizes="180x180"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-192.png') }}" sizes="192x192"/>
        <link rel="icon" href="{{ asset('images/favicon/favicon-196.png') }}" sizes="196x196"/>

        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yarn/bootstrap3/dist/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/circus.css') }}"/>
            
       
            
        <script src="{{ asset('yarn/jquery/dist/jquery.min.js') }}"></script>
            
       
        <style>
             {% block styles %} {% endblock %}
        </style>
       
    </head>
    <body class="{% block classes %}base{% endblock %}{% if isNines %} nines {% endif %}">
        <header>
            <div class="horses"></div>
            <nav class="navbar">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img alt="Reconstructing Early Circus" src="{{ asset ('images/logo.svg') }}"/>
                </a>
                <div class="container">
                    <div class="navbar-header">
                        
                        <!--HAMBURGER -->
                        <button class="hamburger navbar-toggle collapsed hamburger--spin"
                            type="button" data-toggle="collapse" data-target="#navbar" 
                            aria-expanded="false" aria-controls="navbar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        {{ knp_menu_render('main') }}
                        {{ knp_menu_render('nines_blog_pages') }}
                        {{ knp_menu_render('nines_user_nav') }}
                        <ul class="nav navbar-nav">
                            <li class="menu-item">
                                <a href="{{ path('clipping_search') }}">Search</a>
                            </li>
                        </ul>
                    </div> 
                </div>
                
            </nav>
            <a id="header_overlay" class="facsCloser"></a>
        </header>
        
        {# Special styles for index hero #}
        
        {% block hero %} {% endblock %}
        
        <main class="container">
           
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert-wrapper">
                        <div class="alert alert-{{ type }}">
                            <button type="button" class="close"
                                data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                           </button>
                           {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            
            
            {% block admin %}
            
            {% endblock %}
            
            {% block breadcrumb %}
            
            {# Check if we're in a nines page #}
  
             {% if breadpath is not defined and isNines %}
                 
                 {% set breadpath =
                    { 
                        0: {
                            'title': page.title
                        }
                    }
                    
                  %}
                  
              {% endif %}
              
              {# Now include the breadcrumb bit #}
              
              {% include 'misc/breadcrumb.html.twig' %}

            {% endblock %}
            
            {% block pageheader %}
            
            {% endblock %}
            
            {% block body %}
                
            {% endblock %}
            
        </main>
 
        <footer class="footer">
            <div class="container">
                <div class="footer-menu">
                    
                    {# We construct our own menu here
                    since the knp menu rendering is too wedded
                    to the default bootstrap assumptions that it's
                    in the nav bar only #}
                    
                    <ul>
                        <li><a href="{{ path('homepage') }}">Welcome</a></li>
                        <li><a href="{{ path('nines_blog_page_show', { 'id': 1 }) }}">About</a></li>
                        <li><a href="{{ path('clipping_index') }}">Archive</a></li>
                        <li><a href="{{ path('clipping_search') }}">Search</a></li>
                        <li><a href="{{ asset('docs/sphinx/index.html') }}">Documentation</a></li>
                        <li><a href="{{ path('privacy') }}">Privacy</a></li>
                        <li><a href="https://github.com/sfu-dhil/circus">Github</a></li>
                    </ul>
                    
                    
                    <!--{{ knp_menu_render('main') }}
                    {{ knp_menu_render('nines_blog_pages') }}
                    <ul class="navbar-nav nav">
                        <li>
                            <a href="{{ path('privacy') }}">Privacy</a>
                            
                        </li>
                        <li class="menu-item">
                           </li>
                        <li class="menu-item"><a href="">GitHub</a></li>
                    </ul>
                    {{ knp_menu_render('nines_user_nav') }}-->
                    
                </div>
                <div class="footer-imgs">
                    <ul>
                        <li>
                            <a href="https://www.lib.sfu.ca/help/publish/dh/dhil" target="_blank">
                                <img src="{{ asset('images/dhil-home-page-logo.jpg') }}" />
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.sfu.ca/" target="_blank">
                                <img src="{{ asset('images/SFU_block_colour_rgb.png') }}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ asset('yarn/bootstrap3/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/form.js') }}"></script>
        <script src="{{ asset('js/circus.js') }}"></script>
        {% block javascripts %}
        {% endblock %}

        {% if piwik_enabled %}
            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                _paq.push(["setDomains", ["{{ piwik_domain }}"]]);
                _paq.push(["setDoNotTrack", true]);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function () {
                    var u = "{{ piwik_url }}";
                    _paq.push(['setTrackerUrl', u + 'piwik.php']);
                    _paq.push(['setSiteId', '{{ piwik_siteid }}']);
                    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                    g.type = 'text/javascript';
                    g.async = true;
                    g.defer = true;
                    g.src = u + 'piwik.js';
                    s.parentNode.insertBefore(g, s);
                })();
            </script>
            <noscript>
                <p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_siteid }}" style="border:0;" alt="" /></p>
            </noscript>
            <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
