{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{# form formatting #}

{% block form_label_class -%}
    form-label h2
{%- endblock form_label_class %}

{% block form_group_class -%}
    form-group
{%- endblock form_group_class %}

{% block form_row -%}
    <div class="form-row{% if (not compound or force_error|default(false)) and not valid %} has-error
	{% endif %}">
        <div class="label-grp">
            {{- form_label(form) -}}   
            {% if attr.help_block is defined %}
            <span data-toggle="tooltip" title="{{ attr.help_block|raw }}" class="search-tooltip">
                <span class="glyphicon glyphicon-info-sign my-tooltip">
                    <span class="sr-only">Info</span>
                </span>
            </span>
            {% endif %}
            
        </div>    
        <div class="{{ block('form_group_class') }}">

            <div class="form-widget">
                {{- form_widget(form) -}}
            </div>
            <div class="form-errors">
                {{- form_errors(form) -}}
            </div>

        </div>
    </div>
{%- endblock %}

{% block checkbox_radio_row -%}
    {% apply spaceless %}
        <h2>checkbox_radio_row</h2>
        <div class="form-row{% if not valid %} has-error{% endif %}">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                <div class="form-widget">
                    {{- form_widget(form) -}}
                </div>
                <div class="form-errors">
                    {{- form_errors(form) -}}
                </div>
                {% if attr.help_block is defined %}
                    <div class="help-block">
                        <p>{{ attr.help_block|raw }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endapply %}
{%- endblock checkbox_radio_row %}
